{{#partial "content"}}
    <h1>Current ideas</h1>
    <ul>
<!-- Handlebars has a feature called 'each' that works as a for each loop in java -->
        {{#each ideas}}
<!-- Even though title field in CourseIdea object is private, Handlebars can access it because it understands#
POJOs (Plain Old Java Object) and knows it has to call the getTitle method to access that variable. -->
            <li>{{ title }}</li>
        {{/each}}
    </ul>

    <form action="/ideas" method="post">
        <input type="text" placeholder="What's your idea?" name="title">
        <button>Suggest!</button>
    </form>
{{/partial}}

{{> base.hbs}}